# temporary files
tmp.*
*.tmp

# images
*.jpg
*.png

# csv, tsv
*.csv
*.csv.*
!train.csv
!test.csv
*.tsv
*.tsv.*

# pycache
__pycache__/
*.pyc

# images
*.png

# raw binary files
*.*-ubyte

# compressed files
*.gz

# dump files
dmp/
*.pickle
*.dmp
*.pickle.*

# training log
.training_precision.log

# typescript
typescript

